/* ContactInformation.css */

/* Ghi đè lên style mặc định của thư viện */
.PhoneInputInput {
    outline: none;
    border: 1px solid #cdcdcd;
    border-radius: 4px;
    padding: 7px 12px;
    font-size: 15px;
    color: black;
    transition: border-color 300ms ease-in-out;
    flex: 1; /* Đảm bảo input chiếm hết không gian còn lại */
}

.PhoneInputInput:focus {
    border-color: #60a5fa; /* Giống focus:border-blue-400 của bạn */
}

/* Style cho cả container của PhoneInput để giống chiều rộng */
.PhoneInput {
    display: flex;
    align-items: center;
}

.PhoneInputCountry {
    margin-right: 10px;
}

